<footer>
    <p><span><b>NAME  :  </b></span><i>Humphreys Mbaraka</i><span></span></p>
    <p><span><b>CONTACT  :  </b></span><span><i>0740458924</i></span></p>
    <p><span><b>EMAIL  :  </b></span><span><i>humphreyshazam66@gmail.com</i></span></p>
    <p><span><b>LOCATION  :  </b></span><span><i>Nairobi</i></span></p>
    <p><span><b>COUNTRY  :  </b></span><span><i>KENYA</i></span></p>
    <p><span><b>AGE  :  </b></span><span><i>21</i></span></p>
    <p><span><b>PROFESSION  :  </b></span><span><i>software engineer</i></span></p>
    <p><span><b>COMPANY  :  </b></span><span><i>VMA COMPANY LIMITED</i></span></p>
</footer>
