<div class="about">
 
   <h1>HISTORY OF THE AUTHORS</h1>
   <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem non iste corrupti sequi delectus,
                    enim quod fugit cumque temporibus corporis. Quod hic quas culpa quibusdam impedit sequi. Sequi,
                    in beatae.
   </p>

</div>