<div class="add">

    <form action="/upload" method="POST">
        <div>
            <label for="title">TITLE</label>
            <input type="text"  name="title"  id="title">
        </div>
    
        <div>
            <label for="body">BODY</label>
           <textarea name="body" id="body" cols="30" rows="60"></textarea>
        </div>
    <button>SUBMIT</button>

       
    </form>

</div>