<div class="logout">
    <h2>Log-Out</h2>
  <div class="contents">
    <input type="text" id="space" value="<%= user ? user.email : " " %>">
    <a href="/logout"><button class="lgout">LOGOUT</button></a>
  </div>
</div>


<script>

  const field = document.querySelector('#space'); 
  
 

</script>